@font-face {
  font-family: "Horseshoes and Lemonade";
  src: local("Horseshoes and Lemonade"),
    url("assets/fonts/horseshoeslemonade.otf") format("opentype")
      tech(color-COLRv1);
}

html,
body,
.burgui-page {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: #000;
}

.burgui-page:not(:target) {
  display: none;
}
.burgui-page:target ~ #page-startup {
  display: none;
}

#page-startup {
  font-size: min(14vw, 35vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#page-startup img {
  margin-top: 80px;
  position: relative;
  left: -10px;
}

#text-burgui {
  font-size: min(11vw, 30vh);
}

#text-burgui > * {
  margin: 0 10px;
}

#page-score-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 0 10vw;
}

.score-wrapper {
  display: flex;
  height: 50%;
  width: 100%;
}

.score-wrapper > * {
  flex: 1;
}

.score-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-number {
  font-size: min(14vw, 35vh);
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-bgq {
  font-family: "Horseshoes and Lemonade";
  display: flex;
}

.font-bgq > * {
  flex: 1;
  position: relative;
  z-index: 0;
  display: inline-block;
}

.font-bgq > *::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 20%;
  left: 16%;
  right: 15%;
  bottom: 10%;
}

.txtblue {
  color: rgb(63, 58, 152);
}

.font-bgq.txtblue > span::before {
  background: #9cdffc;
}

.txtblue::before {
  background: #9cdffc;
}

.txtketchup {
  color: #c63a23;
}

.font-bgq.txtketchup > span::before {
  background: rgba(245, 220, 220);
}

.txtketchup::before {
  background: rgba(245, 220, 220);
}

.txtmayo {
  color: #ddb70c;
}

.font-bgq.txtmayo > span::before {
  background: rgba(250, 250, 220);
}

.txtmayo::before {
  background: rgba(250, 250, 220);
}

.beer {
  position: relative;
  height: 80%;
}

.beer img {
  height: 100%;
}

.beer .fill {
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}
