@font-face {
  font-family: "Horseshoes and Lemonade";
  src: local("Horseshoes and Lemonade"),
    url("assets/fonts/horseshoeslemonade.otf") format("opentype")
      tech(color-COLRv1);
}

html,
body,
body > div {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

html {
  background-color: #000;
}

.hidden {
  display: none;
}

body > div > img {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#guigui-bottom-left {
  position: absolute;
  bottom: -60px;
  left: 200px;
  height: 200px;
}

#guigui-bottom-right {
  position: absolute;
  bottom: -60px;
  right: 200px;
  height: 200px;
}

.burgui-page {
  height: 100vh;
  width: 100vw;
}

.burgui-page > * {
  padding: 10vh 7vw;
  height: calc(100vh - 20vh);
}

.burgui-page:not(:target) {
  display: none;
}
.burgui-page:target ~ #page-startup {
  display: none;
}

#page-startup > *,
#page-pub > * {
  font-size: min(14vw, 35vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#pub-text-burgui,
#pub-text-quiz {
  font-size: min(10vw, 23vh);
}

#pub-text-pub {
  margin-top: 5vh;
}

#title-img {
  margin-top: 40px;
  position: relative;
  left: -15px;
  height: 25vh;
}

#text-burgui {
  font-size: min(11vw, 30vh);
}

#text-burgui > * {
  margin: 0 10px;
}

#page-score-content {
  display: flex;
  flex-direction: column;
}

.score-wrapper {
  display: flex;
  justify-content: space-between;
}

.score-wrapper > * {
  flex: 1;
}

.score-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-number {
  font-size: min(30vw, 35vh);
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-bgq {
  font-family: "Horseshoes and Lemonade";
  display: flex;
}

.font-bgq > * {
  flex: 1;
  position: relative;
  z-index: 0;
  display: inline-block;
}

.font-bgq > *::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 20%;
  left: 16%;
  right: 15%;
  bottom: 10%;
}

.txtblue {
  color: rgb(63, 58, 152);
}

.font-bgq.txtblue > span::before {
  background: #9cdffc;
}

.txtblue::before {
  background: #9cdffc;
}

.txtketchup {
  color: #c63a23;
}

.font-bgq.txtketchup > span::before {
  background: rgba(245, 220, 220);
}

.txtketchup::before {
  background: rgba(245, 220, 220);
}

.txtmayo {
  color: #ddb70c;
}

.font-bgq.txtmayo > span::before {
  background: rgba(250, 250, 220);
}

.txtmayo::before {
  background: rgba(250, 250, 220);
}

.beer {
  position: relative;
  height: 65%;
}

.beer img {
  max-height: 30vh;
  max-width: 30vw;
}

.beer .fill {
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}
